* {
    /* sets all padding and margin to zero, makes spacing more customizable*/
    margin: 0;
    padding: 0;
}
body{

}
p {
   text-align:center;
}
.header {
    /* Sytle for sticky header*/
    background-size: cover;
    text-align: center;
    background-color: #2979D5;
    padding: 10px 16px;
}
.captionR {
    /* Used for paragraphs that will have an illustration to its side*/
    background-color: #2979D5;
    padding: 40px;
    margin: 10px;
    float: right;
    width: 50%;
}
.captionL {
    /* Used for paragraphs that will have an illustration to its side*/
    background-color: #2979D5;
    padding: 40px;
    margin: 10px;
    float: left;
    width: 50%;
}
.foot{
    /*Used to style footer*/
}